@model HotelReservation.Models.Table
@{
    ViewBag.Title = "Forgot Password";
}
@Scripts.Render("~/bundles/jquery")

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Holiday - Forget Password</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
	<link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
	<link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet">  
	<link href="~/Content/css/flexslider.css" rel="stylesheet">
	<link href="~/Content/css/templatemo-style2.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    
</head>
<body class="tm-gray-bg-" style="background-repeat: no-repeat;background-size:100% 100%;">
		<div class="tm-header">
			<div class="row">
				<div class="col-lg-6 col-md-4 col-sm-3 tm-site-name-container">
					<a href="#" class="tm-site-name">Holiday</a>	
				</div>
				<div class="col-lg-6 col-md-8 col-sm-9">
					<nav class="tm-nav">
						<ul>
                            <ul>
                            <li>@Html.ActionLink("Sign In","index","Home")</li>
						</ul>
						</ul>
					</nav>		
				</div>				
			</div>
		</div>	  
        <section class="container tm-home-section-1" id="more">
                <div class="row">
	                <div class="tm-search-box effect2" style="margin-left:400px;margin-top:100px;width:450px;background-color:lightgray;-moz-border-radius: 10px ;-webkit-border-radius: 10px ;border:2px solid #2d3b36;border-radius:2em;">
			    
                        @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
                        {
                            <br />
                            <fieldset>
                                <h2 style="margin-left:40px;margin-bottom:50px;">Forgot Password</h2>
                                 <div class="Editor-edit">
                                    @Html.EditorFor(model => model.email, new { @placeholder = "Email", @class = "form-control", @autocomplete = "off" })
                                 </div>
                                <div class="Validate-class" >
                                    @Html.ValidationMessageFor(model => model.email)
                                </div>
                                 <div class="form-group tm-yellow-gradient-bg text-center" style="background-color:lightgray; margin-top:30px;margin-bottom:0px;margin-left:40px;">
						            <input type="button" id="b1" value="check" style="background-color:orange;" />
                                </div>
                                <br />
                                <div class="Editor-label">
                                    @Html.TextBoxFor(m => Model.SecretAnswer, new { @placeholder = "Answer", @class = "form-control", @autocomplete = "off" })
                                </div>
                                <div class="Validate-class">
                                    @Html.ValidationMessageFor(m => Model.SecretAnswer)
                                </div>
                                <br />
                                <div id="pass"></div>

                                <div class="form-group tm-yellow-gradient-bg text-center" style="background-color:lightgray; margin-top:10px;margin-bottom:0px;margin-left:40px;">
						            <input type="button" class="mybutton" value="Get Password" id="b2" style="background-color:orange;" />
                                </div>

                            </fieldset>
                            }
                        </div>
                    </div>
                </section>
                <script>

                    $(document).ready(function () {

                        $('#checking').hide();

                        $('#b1').click(function () {

                            var userName = $('#email').val();

                            $('#checking').show();
                            $.getJSON("/Home/checkUser?email=" + userName, function (data) {
                                $('#checking').hide();
                                if (data == false) {
                                    $('#question').text("User doesn't exist");


                                }
                                else {
                                    $('#question').text("What is your favourite Food?");
                                }
                            });

                        });

                    });
                </script>
                <script>

                    $(document).ready(function () {

                        $('#b2').click(function () {

                            var email = $('#email').val();
                            var ans = $('#SecretAnswer').val();
                            $.getJSON("/Home/getPass?email=" + email + "&ans=" + ans, function (data) {
                                if (data != "Invalid Answer")
                                    $('#pass').text("Your Password is: " + data);
                                else
                                    $('#pass').text("Invalid Answer");
                            });

                        });

                    });
</script>
    </body>
</html>