@model  HotelReservation.Models.Table
@{
    ViewBag.Title = "signin";
    
}<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Holiday - Login</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
	<link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
	<link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet">  
	<link href="~/Content/css/flexslider.css" rel="stylesheet">
	<link href="~/Content/css/templatemo-style2.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    

</head>
<body class="tm-gray-bg-" style="background-repeat: no-repeat;background-size:100% 100%;">
	<div class="tm-header">
			<div class="row">
				<div class="col-lg-6 col-md-4 col-sm-3 tm-site-name-container">
					<a href="#" class="tm-site-name">Holiday</a>	
				</div>
				<div class="col-lg-6 col-md-8 col-sm-9">
					<nav class="tm-nav">
						<ul>
							<li>@Html.ActionLink("Sign Up","signup","Home")</li>
						    <li>@Html.ActionLink("Forgot Password","forgotPassword","Home")</li>
                        </ul>
					</nav>		
				</div>				
			</div>
		</div>	  	
	
	<section class="container tm-home-section-1" id="more">
		<div class="row">
			<div class="tm-search-box effect2" style="margin-left:400px;margin-top:100px;width:400px;background-color:lightgray;-moz-border-radius: 10px ;-webkit-border-radius: 10px ;border:2px solid #2d3b36;border-radius:2em;">
			    @using (Html.BeginForm("index","Home",FormMethod.Post) )
                {  
                    @Html.ValidationSummary(true);
                    <fieldset>
                    <h1 style="margin-left:40px;">Sign In</h1>
                    @if (ViewBag.Message != null)
                    { 
                        <div style="border: solid 1px red;background-color:red;">
                            @ViewBag.Message
                        </div>
                    }
                    @Html.AntiForgeryToken()
                    <div class="Editor-class">
                        <div class="Editor-label">
                            @Html.LabelFor(model => model.email)
                        </div>
                        <div class="Editor-edit">
                            @Html.EditorFor(model => model.email)
                        </div>
                        <div class="Validate-class">
                            @Html.ValidationMessageFor(model => model.email)
                        </div>
                     </div>
                     <div class="Editor-class">
                        <div class="Editor-label">
                            @Html.LabelFor(model => model.password)
                        </div>
                        <div class="Editor-edit">
                            @Html.EditorFor(model => model.password)
                        </div>
                        <div class="Validate-class">
                            @Html.ValidationMessageFor(model => model.password)
                        </div>    
                     </div>
                     <div class="form-group tm-yellow-gradient-bg text-center" style="background-color:lightgray; margin-top:50px;margin-bottom:0px;margin-left:40px;">
					    <input type="submit" name="submit" class="btn" style="background-color:orange;"/>
					 </div>
                    </fieldset>
               }
               </div>
			</div>
		</section>
	
	<script type="text/javascript" src="~\Content\js\jquery-1.11.2.min.js"></script>      		<!-- jQuery -->
	<script type="text/javascript" src="~\Content\js\bootstrap.min.js"></script>					<!-- bootstrap js -->
	<script type="text/javascript" src="~\Content\js\jquery.flexslider-min.js"></script>			<!-- flexslider js -->
	<script type="text/javascript" src="~\Content\js\templatemo-script.js"></script>      		<!-- Templatemo Script -->
	<script>
	    var map = '';
	    var center;

	    function initialize() {
	        var mapOptions = {
	            zoom: 14,
	            center: new google.maps.LatLng(37.769725, -122.462154),
	            scrollwheel: false
	        };

	        map = new google.maps.Map(document.getElementById('google-map'), mapOptions);

	        google.maps.event.addDomListener(map, 'idle', function () {
	            calculateCenter();
	        });

	        google.maps.event.addDomListener(window, 'resize', function () {
	            map.setCenter(center);
	        });
	    }

	    function calculateCenter() {
	        center = map.getCenter();
	    }

	    function loadGoogleMap() {
	        var script = document.createElement('script');
	        script.type = 'text/javascript';
	        script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' + 'callback=initialize';
	        document.body.appendChild(script);
	    }
        $(function () {

	        https://css-tricks.com/snippets/jquery/smooth-scrolling/
	        $('a[href*=#]:not([href=#])').click(function () {
	            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
	                var target = $(this.hash);
	                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
	                if (target.length) {
	                    $('html,body').animate({
	                        scrollTop: target.offset().top
	                    }, 1000);
	                    return false;
	                }
	            }
	        });
	        $('.flexslider').flexslider({
	            controlNav: false,
	            directionNav: false
	        });

	        // Google Map
	        loadGoogleMap();
	    });
	</script>
</body>
</html>
